* {
    font-family: spartan;
}
header {
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}

h1 {
    font-family: antonio;
    letter-spacing: -1.05px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 33px;
    padding-inline-start: 0;
}

li {
    cursor: pointer;
    font-weight: 500;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 810px) {
    header {
        flex-direction: column;
        gap: 30px;
        padding: 30px;
        justify-content: center;
    }
}

@media only screen and (max-width: 615px) {
    
}