@import "tailwindcss";

@font-face {
  font-family: Antonio;
  src: url('assets/fonts/Antonio/Antonio-VariableFont_wght.ttf');
}

@font-face {
  font-family: Spartan;
  src: url('assets/fonts//League_Spartan/LeagueSpartan-VariableFont_wght.ttf');
}

:root {
  font-family: Spartan;
  color: white;
  background-color: #070724;
}
